<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

		<add key="ImageUploadPath" value="C:\ExternalImages\" />

		<add key="ExternalWebServiceUrl" value="http://itg-mmmomani/FileUploader/ImageService.asmx" />
		<add key="ExternalWebServiceUrl" value="http://ITG-MMMOMANI/FileUploader/ImageService.asmx" />
		<add key="BaseImageUrl" value="http://ITG-MMMOMANI/ExternalImages" />
		<add key="apigetErrorLog" value="http://itg-mmmomani/SaveErorrLogAPI/api/ErrorLog/GetAll" />

		<add key="ApiSaveErroreFile" value="http://itg-mmmomani/SaveErorrLogAPI/api/ErrorLog/Save" />
		
		<add key="ErrorLogFilePath" value="~/App_Data/ErrorLogs.xml"/>


	</appSettings>

	<connectionStrings>
		<add name="MyDBConnectionString" connectionString="data source=ITG-MMMOMANI\MSSQLSERVER01;database=TEST; Integrated Security=True;" providerName="System.Data.SqlClient" />
		<add name="TESTConnectionString" connectionString="Data Source=ITG-MMMOMANI\MSSQLSERVER01;Initial Catalog=TEST;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="Task1ConnectionString" connectionString="Data Source=ITG-MMMOMANI\MSSQLSERVER01;Database=Task1;User Id=test;Password=Ab@123456" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<pages theme="MyTheme" />


		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<system.webServer>
		<directoryBrowse enabled="true" />
	</system.webServer>

	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="ImageServiceSoap">
     <security mode="None" />
    </binding>
    <binding name="ImageServiceSoap1" />
   </basicHttpBinding>
  </bindings>

		<client>
   <endpoint address="http://localhost/FileUploader/ImageService.asmx"
    binding="basicHttpBinding" bindingConfiguration="ImageServiceSoap"
    contract="ServiceReference1.ImageServiceSoap" name="ImageServiceSoap" />
   <endpoint address="http://localhost/FileUploader/ImageService.asmx"
    binding="basicHttpBinding" bindingConfiguration="ImageServiceSoap1"
    contract="ImageServiceReference1.ImageServiceSoap" name="ImageServiceSoap1" />
  </client>
	</system.serviceModel>

</configuration>
